<!DOCTYPE html>
<html>
<head>
  <title>Books Store</title>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="store">
<div id="banner">
  <%= image_tag("logo.png") %>
  <%= @page_title || t('.title') %>
</div>
<div id="columns">
  <div id="side">
    <div id="cart">
      <%= hide_cart_if(current_cart.line_items.empty?, :id => "cart") do %>
        <%= render current_cart %>
      <% end %>
    </div>

    <a href="#"><%= t('.home') %></a><br />
    <a href="#"><%= t('.faq') %></a><br />
    <a href="#"><%= t('.news') %></a><br />
    <a href="#"><%= t('.contact') %></a><br />

    <% if session[:user_id] %>
      <br/>
      <%= link_to t('.orders'), '/orders' %><br />
      <%= link_to t('.products'), '/products' %><br />
      <%= link_to t('.users'), '/users' %><br />
      <%= button_to t('.logout'), '/logout', :method => :delete %>
      <br/>
    <% else %>
      <br/>
      <%= link_to t('.login'), login_path %><br />
    <% end %>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</div>
</body>
</html>