<!DOCTYPE html>
<html>
<head>
  <title>Books Store</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="store">
<div id="banner">
  <%= image_tag("logo.png") %>
  <%= @page_title || "Books Store" %>
</div>
<div id="columns">
  <div id="side">
    <div id="cart">
      <%= render current_cart %>
    </div>

    <a href="#">Home</a>
    <a href="#">FAQ</a>
    <a href="#">News</a>
    <a href="#">Contact</a>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</div>
</body>
</html>